<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Sucursal</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="mt-5">Update Sucursal</h1>
        <form action="#" th:action="@{/sucursal/update}" th:object="${sucursal}" method="post">
            <div class="form-group">
                <label for="pk_SucursalID">ID Sucursal:</label>
                <input type="text" id="pk_SucursalID" class="form-control" th:field="*{pk_SucursalID}" readonly/>
            </div>
            <div class="form-group">
                <label for="nomSucursal">Nombre Sucursal:</label>
                <input type="text" id="nomSucursal" class="form-control" th:field="*{nomSucursal}" />
            </div>
            <div class="form-group">
                <label for="paisSucursal">País Sucursal:</label>
                <input type="text" id="paisSucursal" class="form-control" th:field="*{paisSucursal}" />
            </div>
            <div class="form-group">
                <label for="tipusSucursal">Tipo Sucursal:</label>
                <input type="text" id="tipusSucursal" class="form-control" th:field="*{tipusSucursal}" readonly/>
            </div>
            <div>
                <button type="submit" class="btn btn-primary">Update Sucursal</button>
                <button type="button" class="btn btn-secondary" onclick="window.location.href='/sucursal/getAll'">Back</button>
            </div>
        </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>



