<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View Sucursal</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="mt-5">View Sucursal</h1>
        <div class="form-group">
            <label>ID:</label>
            <span th:text="${sucursal.pk_SucursalID}"></span>
        </div>
        <div class="form-group">
            <label>Nombre:</label>
            <span th:text="${sucursal.nomSucursal}"></span>
        </div>
        <div class="form-group">
            <label>País:</label>
            <span th:text="${sucursal.paisSucursal}"></span>
        </div>
        <div class="form-group">
            <label>Tipo:</label>
            <span th:text="${sucursal.tipusSucursal}"></span>
        </div>
        <div>
            <button type="button" class="btn btn-secondary" onclick="window.location.href='/'">Back</button>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
